@media(max-width:767px){
    .w-1{
        width: 100%;
    }
}

@media(max-width:767px){
    .w-2{
        width: 100%;
        object-position:center;
    }
}

@media(max-width:991px){
    .w-lg{
        width: 100%;
    }

    .all input{
        width: 100%;
    }
}