*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar{
    width: 100%;
  

    display: flex;
   
}

.logo{
    width: 60%;
   
    font-family: "Roboto Slab", serif;
    font-size: 30px;
    text-align: end;
    line-height: 3;
}

.nav{
    width: 40%;
  
    font-size: 25px;
    line-height: 3;
    text-align: center;
   
}

.box{

    font-family: "Inter", sans-serif;
    padding: 2%;
    color:black;
}

.container{
    position: sticky ;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    top:0px;
    z-index:999;
    display: flex;
    justify-content: center;
 
}

.box-burd{
   
    max-width:100%;
    padding: 50px 0px;
}
.burd{
 
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    min-width: 400px;
}
.container-title{
   
    max-width:1320px;
    margin: auto;
}

.containermain{
    border: 1px solid red;
    max-width: 1320px;
    height: 308px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.boxterms{
    border: 1px solid green;
    height: 100px;
    width: 100%;
    
}

h2{
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    margin-left: 350px;
    line-height: 3;
}

p{
    justify-content: center;
    align-items: center;
    line-height: 2;
    margin-left: 10px;
}

.now{
    width: 150px;
    height: 30px;
    background-color: orange;
    color: white;
    font-family: 'Lato', sans-serif;
}

.now:hover{
        back
}